h2{
    background-color:#00ff00;
}
h1{
    background-color:#00ff00;
}

h3
    {
        background-color:#00ff00;
    text-align:center;
}
h4
{
    background-color:#00ff00;
}
h5
{
  
    text-align:center;
}
h6{

    font-size:60px;
}
h7
{
    text-align:center;
}
body {background-image: url(timg1.jpg);}